<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false">
	<testsuites>
		<testsuite name="L_Messages_Wrong">
			<directory suffix=".php">./src/L/Messages/Wrong/Tests/</directory>
		</testsuite>
		<testsuite name="D_Company_Wrong">
			<directory suffix=".php">./src/D/Company/Wrong/Tests/</directory>
		</testsuite>
		<testsuite name="D_Company_Right">
			<directory suffix=".php">./src/D/Company/Right/Tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>